# VADER

In [21]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords
import nltk
nltk.download('vader_lexicon')
%matplotlib inline
import warnings
from nltk.sentiment.vader import SentimentIntensityAnalyzer

warnings.filterwarnings("ignore")

import os

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /home/satyasasivatsal/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [22]:
comments = pd.read_csv('3MZ6aTpFrE0_Afiltered.csv', error_bad_lines=False)

In [23]:
comments

     Unnamed: 0                                           Comments Comment ID
0             0  hey guys any other awesome deal that we missed...   298107_1
1             1  what s best smartphone under k inr for best ca...   774454_1
2             2  whats best smartphone for best camera under k ...   378283_1
3             3  please make best smartphone under k no one tou...   674053_1
4             4          there is no discount on asus vivobook pro   390621_1
..          ...                                                ...        ...
941         949  to al those who are saying dont buy s fe cuz i...   680052_1
942         950  i see someone commenting exynos br br there is...   969564_1
943         951              creaky sound make this video annoying   194318_1
944         952                                amazon is overrated   515685_1
945         953                                  crosses eyes lodu    85359_1

[946 rows x 3 columns]

In [24]:
comments['Comments'] = comments['Comments'].apply(lambda x: ' '.join([w for w in x.split() if len(w)>3]))
comments['Comments'] = comments['Comments'].apply(lambda x:x.lower())

tokenized_tweet = comments['Comments'].apply(lambda x: x.split())

wnl = WordNetLemmatizer()

tokenized_tweet.apply(lambda x: [wnl.lemmatize(i) for i in x if i not in set(stopwords.words('english'))]) 
tokenized_tweet.head()

for i in range(len(tokenized_tweet)):
    tokenized_tweet[i] = ' '.join(tokenized_tweet[i])
    
    
comments['Comments'] = tokenized_tweet

sia = SentimentIntensityAnalyzer()
comments['Sentiment Scores'] = comments['Comments'].apply(lambda x:sia.polarity_scores(x)['compound'])
comments['Sentiment'] = comments['Sentiment Scores'].apply(lambda s : 'Positive' if s > 0 else ('Neutral' if s == 0 else 'Negative'))
comments.Sentiment.value_counts()

percentages = comments['Sentiment'].value_counts(normalize=True) * 100

vader_neutral_df = comments[comments['Sentiment'] == 'Neutral']
vader_positive_df = comments[comments['Sentiment'] == 'Positive']
vader_negative_df = comments[comments['Sentiment'] == 'Negative']

print(percentages)

Neutral     46.617336
Positive    44.186047
Negative     9.196617
Name: Sentiment, dtype: float64

In [25]:
print(len(vader_neutral_df))
vader_neutral_df

441

,Unnamed: 0,Comments,Comment ID,Sentiment Scores,Sentiment
4,4,there discount asus vivobook,390621_1,0.0,Neutral
6,6,realme,121174_1,0.0,Neutral
7,7,stock,322520_1,0.0,Neutral
8,8,sony,947935_1,0.0,Neutral
9,9,motorola edge ultra,167775_1,0.0,Neutral
...,...,...,...,...,...
934,942,nothing common,524892_1,0.0,Neutral
936,944,someone stop this this joke,902645_1,0.0,Neutral
940,948,this overhyped product,811116_1,0.0,Neutral
942,950,someone commenting exynos there snapdragon,969564_1,0.0,Neutral
945,953,crosses eyes lodu,85359_1,0.0,Neutral

In [26]:
print(len(vader_positive_df))
vader_positive_df

418

,Unnamed: 0,Comments,Comment ID,Sentiment Scores,Sentiment
0,0,guys other awesome deal that missed,298107_1,0.4404,Positive
1,1,what best smartphone under best camera vivo pi...,774454_1,0.9274,Positive
2,2,whats best smartphone best camera under need o...,378283_1,0.8555,Positive
3,3,please make best smartphone under touches segm...,674053_1,0.9100,Positive
11,11,what best smartphones under office work freela...,408045_1,0.7506,Positive
...,...,...,...,...,...
927,935,ahhaha dont ideapad gaming when legion exist l...,633259_1,0.8885,Positive
928,936,think before buying online should always look ...,83589_1,0.2263,Positive
930,938,galaxy watch available straight discount,237492_1,0.2263,Positive
933,941,stop recommending year devices update cycle al...,863068_1,0.1082,Positive
944,952,amazon overrated,515685_1,0.1779,Positive

In [27]:
print(len(vader_negative_df))
vader_negative_df

87

,Unnamed: 0,Comments,Comment ID,Sentiment Scores,Sentiment
5,5,beebom missed ipad deal,745618_1,-0.2960,Negative
72,72,please that text animation music background he...,635176_1,-0.1027,Negative
108,108,savage sounds,637921_1,-0.4588,Negative
112,112,chineese rebranded shit,741370_1,-0.5574,Negative
124,124,need trimmer badly,871876_1,-0.4767,Negative
...,...,...,...,...,...
937,945,just anyone else also annoyed usage extra weig...,403870_1,-0.3818,Negative
938,946,tirrr tirrr sound really irritating,67872_1,-0.5095,Negative
939,947,dude what that kkrrrrrrr sound that annoying,341850_1,-0.4019,Negative
941,949,those saying dont updates anymore guys phone s...,680052_1,-0.5012,Negative
943,951,creaky sound make this video annoying,194318_1,-0.4019,Negative

# Text Blob

In [28]:
from textblob import TextBlob
import pandas as pd

df = pd.read_csv('3MZ6aTpFrE0_Afiltered.csv')

textBlob_df_positive = pd.DataFrame(columns=df.columns)
textBlob_df_negative = pd.DataFrame(columns=df.columns)
textBlob_df_neutral = pd.DataFrame(columns=df.columns)
for index, row in df.iterrows():
    comment = row['Comments']
    
    blob = TextBlob(comment)
    polarity = blob.sentiment.polarity
    
    if polarity > 0:
        textBlob_df_positive = textBlob_df_positive.append(row)
    elif polarity < 0:
        textBlob_df_negative = textBlob_df_negative.append(row)
    else:
        textBlob_df_neutral = textBlob_df_neutral.append(row)

# Optionally, you can save the three DataFrames to separate CSV files
# textBlob_df_positive.to_csv('positive_comments.csv', index=False)
# textBlob_df_negative.to_csv('negative_comments.csv', index=False)
# textBlob_df_neutral.to_csv('neutral_comments.csv', index=False)

In [29]:
print(len(textBlob_df_positive))
textBlob_df_positive

430

    Unnamed: 0                                           Comments Comment ID
0            0  hey guys any other awesome deal that we missed...   298107_1
1            1  what s best smartphone under k inr for best ca...   774454_1
2            2  whats best smartphone for best camera under k ...   378283_1
3            3  please make best smartphone under k no one tou...   674053_1
11          11  what s best smartphones under k for office wor...   408045_1
..         ...                                                ...        ...
930        938  galaxy watch pro available for k k straight di...   237492_1
933        941  stop recommending s fe in it is a year old dev...   863068_1
935        943  guys don t buy realme gt neo t it s full of bu...   694506_1
936        944   someone stop this guy omg this guy is a joke lol   902645_1
941        949  to al those who are saying dont buy s fe cuz i...   680052_1

[430 rows x 3 columns]

In [30]:
print(len(textBlob_df_negative))
textBlob_df_negative

83

    Unnamed: 0                                           Comments Comment ID
18          18  samsung buds pro now at k which is half of its...   393261_1
71          71     s fe is so outdated y do you guys recommend it    83480_1
83          83  kudos to you for using the usual price instead...   981605_1
95          95  eva girl tbh that s better than both in overal...   773783_1
97          97                              how is samsung s base   539575_1
..         ...                                                ...        ...
932        940  is it just me or did anyone else also get anno...   925052_1
934        942                           nothing for a common man   524892_1
937        945  is it just me or did anyone else also get anno...   403870_1
939        947   dude what s that kkrrrrrrr sound that s annoying   341850_1
943        951              creaky sound make this video annoying   194318_1

[83 rows x 3 columns]

In [31]:
print(len(textBlob_df_neutral))
textBlob_df_neutral

433

    Unnamed: 0                                           Comments Comment ID
4            4          there is no discount on asus vivobook pro   390621_1
5            5                        beebom you missed ipad deal   745618_1
6            6                                 realme gt was at k   121174_1
7            7                           gt neo t is out of stock   322520_1
8            8                                        sony srs xe   947935_1
..         ...                                                ...        ...
938        946         the tirrr tirrr sound is really irritating    67872_1
940        948                     all this are overhyped product   811116_1
942        950  i see someone commenting exynos br br there is...   969564_1
944        952                                amazon is overrated   515685_1
945        953                                  crosses eyes lodu    85359_1

[433 rows x 3 columns]

# Xlnet

In [32]:
import pandas as pd
from transformers import XLNetTokenizer, XLNetForSequenceClassification

data = pd.read_csv("3MZ6aTpFrE0_Afiltered.csv")

# Load the XLNet tokenizer and model
tokenizer = XLNetTokenizer.from_pretrained("xlnet-base-cased")
model = XLNetForSequenceClassification.from_pretrained("xlnet-base-cased", num_labels=3)

# Function to classify sentiment using XLNet
def get_sentiment(text):
    inputs = tokenizer.encode_plus(text, add_special_tokens=True, padding="max_length", truncation=True, max_length=128, return_tensors="pt")
    input_ids = inputs["input_ids"]
    attention_mask = inputs["attention_mask"]
    outputs = model(input_ids, attention_mask=attention_mask)
    logits = outputs.logits
    predicted_labels = logits.argmax(dim=1)
    sentiment_labels = ["Negative", "Neutral", "Positive"]
    sentiment = sentiment_labels[predicted_labels.item()]
    return sentiment

# Apply sentiment analysis to the 'Comments' column
data["Sentiment"] = data["Comments"].apply(get_sentiment)

# Split data into separate dataframes based on sentiment
xlent_positive_df = data[data["Sentiment"] == "Positive"]
xlent_negative_df = data[data["Sentiment"] == "Negative"]
xlent_neutral_df = data[data["Sentiment"] == "Neutral"]

Some weights of the model checkpoint at xlnet-base-cased were not used when initializing XLNetForSequenceClassification: ['lm_loss.bias', 'lm_loss.weight']
- This IS expected if you are initializing XLNetForSequenceClassification from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing XLNetForSequenceClassification from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).
Some weights of XLNetForSequenceClassification were not initialized from the model checkpoint at xlnet-base-cased and are newly initialized: ['logits_proj.weight', 'sequence_summary.summary.bias', 'sequence_summary.summary.weight', 'logits_proj.bias']
You should probably TRAIN this model on a down-stream task to be able to use it for predictions and inference.

In [33]:
print(len(xlent_positive_df))
xlent_positive_df

237

,Unnamed: 0,Comments,Comment ID,Sentiment
1,1,what s best smartphone under k inr for best ca...,774454_1,Positive
13,13,xiaomi pro vs pixel pro which one should i buy,781520_1,Positive
28,28,i actually got the nothing phone gb gb at br w...,117365_1,Positive
31,31,atul gadekar realme gt neo t at k,2013_1,Positive
32,32,how about iqoo at in amazon is it a good deal,459154_1,Positive
...,...,...,...,...
935,943,guys don t buy realme gt neo t it s full of bu...,694506_1,Positive
937,945,is it just me or did anyone else also get anno...,403870_1,Positive
939,947,dude what s that kkrrrrrrr sound that s annoying,341850_1,Positive
940,948,all this are overhyped product,811116_1,Positive
944,952,amazon is overrated,515685_1,Positive

In [34]:
print(len(xlent_negative_df))
xlent_negative_df

324

,Unnamed: 0,Comments,Comment ID,Sentiment
6,6,realme gt was at k,121174_1,Negative
8,8,sony srs xe,947935_1,Negative
20,20,is there any best phone under k or maximum k w...,734677_1,Negative
21,21,the pixel is at in amazon,179293_1,Negative
22,22,retro tech pixel is good option other than iphone,48716_1,Negative
...,...,...,...,...
929,937,that infographic sfx is irritating amp irrelevant,474775_1,Negative
931,939,can i ask what happened with your eyes,456798_1,Negative
933,941,stop recommending s fe in it is a year old dev...,863068_1,Negative
938,946,the tirrr tirrr sound is really irritating,67872_1,Negative
942,950,i see someone commenting exynos br br there is...,969564_1,Negative

In [35]:
print(len(xlent_neutral_df))
xlent_neutral_df

385

,Unnamed: 0,Comments,Comment ID,Sentiment
0,0,hey guys any other awesome deal that we missed...,298107_1,Neutral
2,2,whats best smartphone for best camera under k ...,378283_1,Neutral
3,3,please make best smartphone under k no one tou...,674053_1,Neutral
4,4,there is no discount on asus vivobook pro,390621_1,Neutral
5,5,beebom you missed ipad deal,745618_1,Neutral
...,...,...,...,...
934,942,nothing for a common man,524892_1,Neutral
936,944,someone stop this guy omg this guy is a joke lol,902645_1,Neutral
941,949,to al those who are saying dont buy s fe cuz i...,680052_1,Neutral
943,951,creaky sound make this video annoying,194318_1,Neutral
945,953,crosses eyes lodu,85359_1,Neutral

# AFINN Model

In [36]:
import pandas as pd
from afinn import Afinn

data = pd.read_csv("3MZ6aTpFrE0_Afiltered.csv")

afinn = Afinn()

def get_sentiment(text):
    sentiment_score = afinn.score(text)
    if sentiment_score > 0:
        return "Positive"
    elif sentiment_score < 0:
        return "Negative"
    else:
        return "Neutral"

data["Sentiment"] = data["Comments"].apply(get_sentiment)

afinn_positive_df = data[data["Sentiment"] == "Positive"]
afinn_negative_df = data[data["Sentiment"] == "Negative"]
afinn_neutral_df = data[data["Sentiment"] == "Neutral"]

In [37]:
print(len(afinn_positive_df))
afinn_positive_df

369

,Unnamed: 0,Comments,Comment ID,Sentiment
0,0,hey guys any other awesome deal that we missed...,298107_1,Positive
1,1,what s best smartphone under k inr for best ca...,774454_1,Positive
2,2,whats best smartphone for best camera under k ...,378283_1,Positive
3,3,please make best smartphone under k no one tou...,674053_1,Positive
11,11,what s best smartphones under k for office wor...,408045_1,Positive
...,...,...,...,...
927,935,ahhaha pls dont buy ideapad gaming when legion...,633259_1,Positive
930,938,galaxy watch pro available for k k straight di...,237492_1,Positive
933,941,stop recommending s fe in it is a year old dev...,863068_1,Positive
936,944,someone stop this guy omg this guy is a joke lol,902645_1,Positive
941,949,to al those who are saying dont buy s fe cuz i...,680052_1,Positive

In [38]:
print(len(afinn_negative_df))
afinn_negative_df

119

,Unnamed: 0,Comments,Comment ID,Sentiment
4,4,there is no discount on asus vivobook pro,390621_1,Negative
5,5,beebom you missed ipad deal,745618_1,Negative
24,24,there are many others but they dont pay for th...,718332_1,Negative
28,28,i actually got the nothing phone gb gb at br w...,117365_1,Negative
104,104,thanks for letting us know about the bad deals...,750309_1,Negative
...,...,...,...,...
935,943,guys don t buy realme gt neo t it s full of bu...,694506_1,Negative
937,945,is it just me or did anyone else also get anno...,403870_1,Negative
938,946,the tirrr tirrr sound is really irritating,67872_1,Negative
939,947,dude what s that kkrrrrrrr sound that s annoying,341850_1,Negative
943,951,creaky sound make this video annoying,194318_1,Negative

In [39]:
print(len(afinn_neutral_df))
afinn_neutral_df

458

,Unnamed: 0,Comments,Comment ID,Sentiment
6,6,realme gt was at k,121174_1,Neutral
7,7,gt neo t is out of stock,322520_1,Neutral
8,8,sony srs xe,947935_1,Neutral
9,9,motorola edge ultra,167775_1,Neutral
10,10,sai subash jonnalagadda because of camera and ...,334587_1,Neutral
...,...,...,...,...
934,942,nothing for a common man,524892_1,Neutral
940,948,all this are overhyped product,811116_1,Neutral
942,950,i see someone commenting exynos br br there is...,969564_1,Neutral
944,952,amazon is overrated,515685_1,Neutral
945,953,crosses eyes lodu,85359_1,Neutral

# Mapping

In [49]:
master = pd.read_csv("All_3MZ6aTpFrE0_master.csv", encoding='utf-8')

In [50]:
master

     Unnamed: 0                                           Comments Comment ID
0             0  Hey Guys! Any other awesome deal that we misse...   298107_1
1             1  What&#39;s best smartphone under 55000-62k INR...   774454_1
2             2  Whats best smartphone for best camera under 50...   378283_1
3             3  Please make best smartphone under 55k... no on...   674053_1
4             4          There is no discount on Asus vivobook pro   390621_1
..          ...                                                ...        ...
949         949  To al those who are saying dont buy s20 fe cuz...   680052_1
950         950  + i see someone commenting Exynos 990. <br><br...   969564_1
951         951             creaky Sound. make this video Annoying   194318_1
952         952                                Amazon is overrated   515685_1
953         953                                  crosses eyes lodu    85359_1

[954 rows x 3 columns]

In [64]:
df3 = pd.merge(master, vader_neutral_df, on='Comment ID', how='inner')['Comments_x']

In [66]:
df3

0              There is no discount on Asus vivobook pro
1                                Realme GT 2 was at 24k.
2                          Gt Neo 3 t is out of stock ðŸ˜…ðŸ˜¢
3                                        Sony srs xe 200
4                                 Motorola edge 30 ultra
                             ...
436                          Nothing for a common man. ðŸ™„
437    someone stop this guy..omg this guy is a joke ...
438                       All this are overhyped product
439    + i see someone commenting Exynos 990. <br><br...
440                                    crosses eyes lodu
Name: Comments_x, Length: 441, dtype: object